:root {
  --color-primary: #5CB85C;
 
  --font-basic: 'Source Sans 3', sans-serif;
  --font-accent: 'Titillium Web', sans-serif;
}

// a:hover {
//   text-decoration: underline;
//   transition: color 150ms;
// }
