:root {
  --color-primary: #5CB85C;

 
  --font-basic: 'Source Sans 3', sans-serif;
  --font-accent: 'Titillium Web', sans-serif;
}

// body {
//   font-family: "Titillium Web", sans-serif;
//   font-weight: 700;
//   font-style: normal;
// }

// a {
//   font-family: "Source Sans 3", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: 300;
//   font-style: normal;
// }